[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pre-commit = "*"
pyupgrade = "*"
black = "*"
blacken-docs = "*"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
pylint = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
